# ----------------------------
# Настройки мониторинга
# ----------------------------

# OpenTelemetry Collector
OTEL_GRPC_PORT=${CORE_OTEL_GRPC_PORT}
OTEL_BATCH_SIZE=${CORE_OTEL_BATCH_SIZE}
OTEL_BATCH_TIMEOUT=${CORE_OTEL_BATCH_TIMEOUT}
OTEL_COLLECTOR_METRICS_PORT=${CORE_OTEL_COLLECTOR_METRICS_PORT}
OTEL_LOG_LEVEL=${CORE_OTEL_LOG_LEVEL}

# Jaeger
JAEGER_HOST=${CORE_JAEGER_HOST}
JAEGER_PORT=${CORE_JAEGER_PORT}
JAEGER_UI_PORT=${CORE_JAEGER_UI_PORT}
